<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/POSDatabase"/>
                <property name="username" value="postgres"/>
                <property name="password" value="manikantan1205"/>
                <property name="defaultAutoCommit" value="true" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="DAO.ProductDAO" />
        <mapper class="DAO.UserDAO" />
        <mapper class="DAO.UnitDAO" />
        <mapper class="DAO.StoreDAO" />
        <mapper class="DAO.PurchaseDAO"/>
        <mapper class="DAO.SalesDAO" />
        <mapper class="DAO.PurchaseItemMapper"/>
        <mapper class="DAO.SalesItemMapper"/>
    </mappers>
</configuration>
